@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

:root {
  --header-height: 3rem;

  /* colors */
  --primary-color: #3263eb;
  --secondary-color: #1b2f81;

  /* fonts */
  --body-font: "Quicksand", sans-serif;
  --big-font: 2rem;
  --normal-font: 1rem;
  --medium-font: 1.3rem;

  /* margins */
  --margin-bottom-1: 0.5rem;
  --margin-bottom-2: 1rem;
  --margin-bottom-3: 1.5rem;
  --margin-bottom-4: 2rem;
  --margin-bottom-5: 2.5rem;
  --margin-bottom-6: 3rem;

  /* z - index */
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --body-font: "Quicksand", sans-serif;
    --big-font: 3.5rem;
    --normal-font: 1rem;
    --medium-font: 2rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font);
  color: var(--secondary-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  font-size: var(--medium-font);
  color: var(--primary-color);
  margin-top: var(--margin-bottom-2);
  margin-bottom: var(--margin-bottom-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.2rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--primary-color);
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--margin-bottom-2);
  margin-right: var(--margin-bottom-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: white;
  box-shadow: 0 1px 4px rgba(146, 162, 176, 0.5);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--secondary-color);
    transition: 0.5s;
  }
}

.nav_item {
  margin-bottom: var(--margin-bottom-4);
}

.nav_link {
  position: relative;
  color: white;
}

.nav_link:hover {
  position: relative;
}

.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2rem;
  left: 0;
  top: 2rem;
  background-color: var(--primary-color);
}

.nav_logo {
  color: var(--secondary-color);
}

.nav_toggle {
  color: var(--secondary-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.2rem;
  left: 0;
  top: 2rem;
  background-color: var(--primary-color);
}

.show {
  right: 0;
}

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home_data {
  align-self: center;
}

.home_title {
  font-size: var(--big-font);
  margin-bottom: var(--margin-bottom-5);
}

.home_title-color {
  color: var(--primary-color);
}

.home_social {
  display: flex;
  flex-direction: column;
}

.home_social-icon {
  width: max-content;
  margin-bottom: var(--margin-bottom-2);
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.home_social-icon:hover {
  color: var(--primary-color);
}

.home_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem 2.5rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.about_container {
  row-gap: 2rem;
  text-align: center;
}

.about_subtitle {
  margin-bottom: var(--margin-bottom-2);
}

.about_img {
  justify-self: center;
}

.about_img img {
  width: 200px;
  border-radius: 0.5rem;
}

.skills_container {
  row-gap: 2rem;
  text-align: center;

}

.skills_subtitle {
    margin-bottom: var(--margin-bottom-2);
}

.skills_text {
    margin-bottom: var(--margin-bottom-4);
}

.skills_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 500;
    padding: 0.5rem  1rem;
    margin-bottom: var(--margin-bottom-4);
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills_icon {
    font-size: 2rem;
    margin-right: var(--margin-bottom-2);
    color: var(--primary-color);
}

.skills_names {
    display: flex;   
    align-items: center;
}

.skills_bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-color);
    height: 0.25rem;   
    border-radius: 0.5rem;
    z-index: var(--z-back)
}

.skills_html5{
    width: 95%;
}

.skills_javascript{
    width: 95%;
}

.skills_css{
    width: 95%;
}

.skills_angular{
    width: 95%;
}

.skills_nodejs{
    width: 95%;
}

.skills_img {
    border-radius: 0.5rem;
}

.work {
    text-align: center;
}

.work_container {
    row-gap: 2rem;
}

.work_img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
}

.work_img img {
    transition: 1s;
    cursor: pointer;
}

.work_img img:hover {
    transform: scale(1.1)
}

.contact_input {
    width: 100%;
    font-size: var(--normal-font);
    font-weight: 500;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--secondary-color);
    outline: none;
    margin-bottom: var(--margin-bottom-4);
}

.contact_button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font);
    cursor: pointer;
    margin-left: auto;
}




